
body{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 4rem;
}
.button{
   color:orange;
   background-color: black;
   font-size: 18px;
}
input{
  
font-size: 22px;
}
.divone{
    height: 450px;
    width: 350px;
    border: 5px solid rgb(23, 4, 4);
    background-color: rgb(18, 60, 44);
 }
 #display{
    margin: 20px;
    height: 50px;
    width: 300px;
 }
 .divtwo{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .divthree{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .divfour{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .divfive{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .divsix{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 .divseven{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
 }
 button{
    height: 40px;
    width: 40px;
 }